pip,conda
pandas
numpy
matplotlib
seaborn
re
langdetect
nltk
wordcloud
contractions
textblob
spacy
collections
sklearn
tensorflow
gensim
transformers
rouge
difflib
streamlit
docx2txt
bs4,BeautifulSoap
altair
vaderSentiment
pyPDF2